.clear{
	clear: both;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
header{
	background-color: #000;
	height: 100px;
}
.logo,
.logo-two{
	float: left;
}
.logo a,
.logo-two a{
    background-image: url(../images/logo.png);
    display: block;
    width: 138px;
    height: 23px;
    background-position: 0px -22px;
    transition:all 0.2s;
    margin-top: 50px;
}
.logo a:hover,
.logo-two a:hover{
	background-position: 0px 0px;
}
.navi{
	float: right;
}
.navi ul{
	
	width: 100%;
}
.navi ul li{
	float: right;
	color: #fff;
	display: inline-flex;
	padding:14px;
	margin-top: 45px;
	font-family:'Source Sans Pro',sans-serif;
	font-size: 15px;
	font-weight: 700;

}
.banner{
	background-color: #000;

}
.banner-content{
	float: left;
	width: 70%;
    max-width: 820px;
	font-size:14px;
	margin-top: 60px;
}
.banner-content h1{
     margin-bottom: 30px;
    font-size: 57px;
    line-height: 75px;
    color: #efefef;
    font-weight: 700;
    
}
.banner-content p{
	max-width: 511px;
	font-family: 'Source Sans Pro',sans-serif;
    color: #efefef;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 30px;
}
.banner-content h1 span{
	color: #4452fb;
}
.banner-content a{
	font-size: 24px;
	text-decoration: none;
	color: #fff;
}
.button{
	
}
.banner-image {
	float: right;
	width: 30%;
	margin-top: 60px;
	}
 .banner-image img{
	max-width: 100%;
}
.portfolios{
	background-color: #000;
}
.portfolio{
	 padding-top: 100px;
}
.portfolio h1{
	font-size: 33px;
    line-height: 40px;
    color: #ff4e00;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 700;
}
.portfolio h2 {
	display: block;
    max-width: 920px;
    margin-top: 33px;
    margin-bottom: 33px;
    font-size: 45px;
    line-height: 65px;
    color: #fff;
}
.portfolio p {
	max-width: 511px;
	font-family: 'Source Sans Pro',sans-serif;
    color: #efefef;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 40px;
}
.portfolio .call-to-action{
	background-repeat:no-repeat;
	background-position: 11% 50%;
	background-image: url(../images/red-arrow.png);
	font-family: 'Source Sans Pro',sans-serif;
    color: #efefef;
    font-size: 24px;
    line-height: 38px;
    color: #ff4e00;
    font-weight: 700;
}
.portfolio-image {
   display: block;
	width: 100%;
	margin-top: 131px;
	margin-bottom: 130px;
}
.portfolio-image img{
	max-width: 100%;
}
.portfolio .testimonial{
      max-width: 620px;
      margin: 0 auto;
   }
.testimonial{
   	padding-bottom: 200px;
     max-width: 620px;
    margin: 0 auto;
    text-align: center;
  
   }
 p.quote {
    color: #ff4e00;
    text-align: center;
    font-size: 150px;
    font-style: italic;
    line-height: 90px;
    font-weight: 600;
}
h2.testimoni {
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 50px;
}
.author{
      text-align: center;
}
.author-image{
      margin-bottom: 30px;
      text-align: center;
}
.portfolio .testimonial .author-image img{

}
.testimonial h3,
.testimonial h4{
     color: #ccc;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.testimonial h4{
  font-size: 17px;
}
.testimonial h4 span{
      color: #ff4e00;
}
.ventures{
    padding-bottom: 131px;
}
h2.montane{
    font-size: 33px;
    line-height: 40px;
    color: #f49831;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'Source Sans Pro',sans-serif;
}
h3.getting{
    color: #fff;
    font-size: 45px;
    line-height: 65px;
    max-width: 920px;
    margin-bottom: 33px;
    margin-top: 33px;
    font-weight: 400;
    font-family: 'Source Sans Pro',sans-serif;
}
.third-para,
.fourth-para{
    font-size: 24px;
    line-height: 34px;
    color: #efefef;
    max-width: 511px;
    margin-bottom: 40px;
  }
.see-it{
   background-image: url(../images/red-arrow.png);
   background-repeat:no-repeat;
  background-position: 15% 50%;
  font-family: 'Source Sans Pro',sans-serif;
    color:#f49831;
    font-size: 24px;
    line-height: 38px;
    font-weight: 900;
    padding-right: 42px;
}
.map-image img{
    width: 100%;
    max-width: 100%;
    margin-bottom: 100px;
}
.testimonial-two{
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Source Sans Pro',sans-serif;
    margin-bottom: 200px;
}
p.quote-two {
    color: #ff4e00;
    text-align: center;
    font-size: 150px;
    font-style: italic;
    line-height: 90px;
    font-weight: 600;
}
h2.testimoni-two{
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 50px;
}
.author-two-image img{ 
  margin-bottom: 36px;
    max-width: 100%;
}
.author-two h3{
      color: #ccc;
    font-size: 26px;
    font-weight: 600;
    line-height: 38px;
}
.author-two h4{
  font-size: 17px;
    color: #ccc;
    line-height: 25px;
}
.author-two h4 span{
  color: #f49831;
}
.flex-one{
   width: 100%;
  font-family:'Source Sans Pro',sans-serif;
  margin-bottom: 160px;

}

.flex-text h1{
  color: #53b049;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}
.flex-text h2{
     display: block;
    max-width: 920px;
    margin-top: 33px;
    margin-bottom: 33px;
    font-size: 45px;
    line-height: 65px;
    color: #fff;
    font-weight: 400;
}
.flex-text h3,
.flex-text h4{
      margin-bottom: 40px;
    color: #fff;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
}
.see{
   background-image: url(../images/red-arrow.png);
   background-repeat:no-repeat;
  background-position: 40% 50%;
  font-family: 'Source Sans Pro',sans-serif;
    color:#f49831;
    font-size: 24px;
    line-height: 38px;
    font-weight: 900;
    padding-right: 42px;
}
.flex-image.xyz1{
    float: left;
    width: 50%;
}
.flex-text.xyz2 {
    width: 40%;
    float: right
}
.portfolios .flex-two{
     width: 100%
     font-family:'Source Sans Pro',sans-serif;
}
.flex-two .byte{
     color: #ed462f;
     font-size: 33px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 700;
   }
.flex-two .byte-one{
    max-width: 920px;
    margin-top: 33px;
    margin-bottom: 33px;
    font-size: 45px;
    line-height: 65px;
    font-weight: 400;
    color: #fff;
  }
  .flex-two .byte-two,
  .flex-two .byte-three{
    color: #efefef;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 40px;
    width: 50%
  }
  .flex-two .byte-four{

        background-image: url(../images/red-arrow.png);
   background-repeat:no-repeat;
  background-position: 15% 50%;
  font-family: 'Source Sans Pro',sans-serif;
    color:#ed462f;
    font-size: 24px;
    line-height: 38px;
    font-weight: 900;
    padding-right: 42px;
  }
  .flex-three img{
    width: 100%;
    margin-top: 160px;
    margin-bottom: 170px;
    max-width: 100%;
  }
  .flex-four{
   max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Source Sans Pro',sans-serif;
    margin-bottom: 200px;
}
p.quote-four {
   color:#ed462f;
    text-align: center;
    font-size: 150px;
    font-style: italic;
    line-height: 90px;
    font-weight: 600;
}
h1.testimoni-four {
     color:#efefef;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 10px;
    font-weight: 400;
}
.author-four img{ 
  margin-top:27px;
  margin-bottom: 36px;
    max-width: 100%;
}
.author-four h3{
      color: #ccc;
    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
}
.author-four h4{
  font-size: 17px;
    color: #ccc;
    line-height: 25px;
    font-weight: 400;
}
.author-four h4 span{
  color:#ed462f;
   font-size: 17px;
    line-height:25px;
}
.flex-five{
   width:100%;
  font-family:'Source Sans Pro',sans-serif;
  margin-bottom: 160px;

}
.flex-five-text h1{
    color: #b953ff;
    font-size: 33px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}
.flex-five-text h2{
    max-width: 920px;
    margin-top: 33px;
    margin-bottom: 33px;
    font-size: 45px;
    line-height: 65px;
    font-weight: 400;
    color: #fff;
  }

.flex-five-text h3{
    color: #efefef;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 33px;
}
.flex-five-text h4{
   color: #efefef;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 40px;
}
.see-five{
   background-image: url(../images/bluearrow.png);
   background-repeat:no-repeat;
  background-position: 35% 50%;
  font-family: 'Source Sans Pro',sans-serif;
    color:#b953ff;
    font-size: 24px;
    line-height: 38px;
    font-weight: 900;
    padding-right: 42px;
}
.flex-five-text.xyz3{
  flex: left;
  width: 50%;
  max-width: 511px;
}
.flex-five-image.xyz4{
  float: right;
  width: 50%;
}

.flex-six{
   max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Source Sans Pro',sans-serif;
    margin-bottom: 200px;
}
h1.quote-six {
   color:#b953ff;
    text-align: center;
    font-size: 155px;
    font-style: italic;
    line-height: 90px;
    font-weight: 600;
}
h2.expert {
     color:#efefef;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 10px;
    font-weight: 400;
}
.author-six img{ 
  margin-top:27px;
  margin-bottom: 36px;
    max-width: 100%;
}
.author-six h3{
      color: #ccc;
    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
}
.author-six h4{
  font-size: 17px;
    color: #ccc;
    line-height: 25px;
    font-weight: 400;
}
.author-six h4 span{
  color:#b953ff;
   font-size: 17px;
    line-height:25px;
}
.flex-seven{
     width: 100%
     font-family:'Source Sans Pro',sans-serif;
     margin-bottom: 131px;
}
h1.blur{
     color:#3A60FB;
     font-size: 33px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 700;
   }
h2.agency{
   max-width: 910px;
    margin-top: 33px;
    margin-bottom: 33px;
     font-size: 45px;
    line-height: 65px;
    font-weight: 400;
    color: #fff;
  }
  h3.brand,
  h4.built{
    color: #efefef;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 40px;
    max-width: 511px;
  }
  h5.seven{
   background-image: url(../images/bluearrow.png);
   background-repeat:no-repeat;
  background-position: 15% 50%;
  font-family: 'Source Sans Pro',sans-serif;
    color:#3A60FB;
    font-size: 24px;
    line-height: 38px;
    font-weight: 900;
    padding-right: 42px;
  }
  .flex-eight img{
   width: 100%;
   margin-bottom: 177px;
  } 

.flex-nine{
   max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Source Sans Pro',sans-serif;
    margin-bottom: 200px;
}
h1.quote-nine{
   color:#3A60FB;
    text-align: center;
    font-size: 155px;
    font-style: italic;
    line-height: 90px;
    font-weight: 600;
}
h2.very {
     color:#efefef;
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 10px;
    font-weight: 400;
}

.author-nine img{ 
  margin-top:27px;
  margin-bottom: 36px;
    max-width: 100%;
}
.author-nine h3{
      color: #ccc;
    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
}
.author-nine h4{
  font-size: 17px;
    color: #ccc;
    line-height: 25px;
    font-weight: 400;
}
.author-nine h4 span{
  color:#3A60FB;
   font-size: 17px;
    line-height:25px;
}

h1.title{
   color: #fff;
    font-size: 47px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 40px;
}
.flex-ten{
   width:100%;
  font-family:'Source Sans Pro',sans-serif;
  margin-bottom: 160px;

}
.flex-ten-text{
  width: 63%;
  max-width: 778px;
}
.flex-ten-text h2{
    color: #11cc9e;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 700;
  }

.flex-ten-text h3{
    margin-bottom: 30px;
    line-height: 65px;
    font-weight: 300;
     margin-top: 40px;
     font-size: 45px;
     color:#fff;
}
.flex-ten-text h4,
.flex-ten-text h5{
  max-width: 511px;
   color: #efefef;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 40px;
}

.list{
  max-width: 600px;
  font-family:'Source Sans Pro',sans-serif;
  color: #efefef;
  font-size: 24px;
  line-height: 38px;
}
.list-one{
  float: left;
  width: 50%;
}
.list-two{
   float: left;
  width: 50%;
}
.web,
.Landing,
.ui,
.ux{
  background-image: url('../images/dott.png');
  background-position: 0% 50%;
  background-size: 13px;
  background-repeat: no-repeat;
  font-weight: 300;
  margin-bottom: 20px;
    padding-left: 35px;
    font-size: 18px;

}
.flex-ten-image.xyz5 {
    float: right;
    width: 35%;
    max-width: 100%;
}
.flex-ten-text .xyz6{
 float: left;
 width: 65%;
}


.flex-eleven{
   width:100%;
  font-family:'Source Sans Pro',sans-serif;
  margin-bottom: 160px;

}
.flex-eleven-text{
  width: 63%;
  max-width: 778px;
  font-family: 'Source Sans Pro',sans-serif;
  
}
.flex-eleven-text h1{
       color: #4452fb;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 700;
  }

.flex-eleven-text h2{
    margin-bottom: 30px;
    line-height: 65px;
    font-weight: 300;
    margin-top: 40px;
    color: #fff;
    font-size: 45px;
}
.flex-eleven-text h3,
.flex-eleven-text h4{
  max-width: 511px;
   color: #efefef;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 40px;
}
.list-eleven{
  max-width: 600px;
  font-family:'Source Sans Pro',sans-serif;
  color: #efefef;
  font-size: 24px;
  line-height: 38px;
}
.list-three{
  float: left;
  width: 50%;
}
.list-four{
   float: left;
  width: 50%;
}
.deve,
.cms,
.sketch,
.figma,
.psd,
.seo,
.bug,
.mainn,
.onn,
.mobile{
  background-image: url('../images/bluedot.png');
  background-position: 0% 50%;
  background-size: 13px;
  background-repeat: no-repeat;
  font-weight: 300;
  margin-bottom: 20px;
    padding-left: 35px;
    font-size: 18px;
}
.flex-eleven-image.xyz7 {
    float: right;
    width: 30%;
}
.flex-twelve{
  font-family: 'Source Sans Pro',sans-serif;
  max-width: 885px;

}
 h1.do{
   margin-bottom: 27px;
   color: #fff;
    font-size: 47px;
    line-height: 65px;
    font-weight: 700;
  }
 h2.if{
  max-width: 511px;
  margin-bottom: 10px;
  font-size: 24px;
    line-height: 38px;
  font-weight: 400;
  color:#efefef;
}
.last{
    width: 100%;
    max-width: 569px;
    margin-top: 48px;
    color: #efefef;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 128px;
}

.first-form{
  display: flex;
  width: 100%;
  padding-right: 25px;
}
.first-line,
.first-line2{
    width: 50%;
    padding-right: 25px;
}
input.first-input,
input.second-input,
input.third-input,
textarea.fourth-input{ 
    width: 100%;
    height: 56px;
    max-width: 544px;
    margin-bottom: 25px;
    padding-right: 28px;
    padding-left: 28px;
    border: 0 transparent;
    border-radius: 6px;
    background-color: hsla(0,0%,100%,.07);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
input.second-input {
    margin-left: 50px;
}
textarea.fourth-input {
    height: 100px;
}
input.sub{
  background-image: url('../images/submit-arrow.png');
  background-position: 100% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px;
    padding-right: 45px;
    color: #fff;
    font-weight: 700;
  
}
.final-left{
  float: left;
  width: 70%;
}
 h1.final{
   font-family: 'Source Sans Pro',sans-serif;
  margin-bottom: 140px;
    color: #fff;
    font-size: 47px;
    line-height: 65px;
    font-weight: 700;
}
 h1.final span{
  color:#11cc9e;
  margin-top: 10px;
}
.final-sentence{
  font-size: 15px;
  font-weight: 600;
  font-family: 'Source Sans Pro',sans-serif;
    color: #efefef;
    margin-top: 10px;
    line-height: 38px;
}
.final-right  h3{
  float: right;
  text-align:right;
    width: 30%;
  font-size: 15px;
  font-weight: 600;
      color: #efefef;
}

