
@media(min-width:576px){
	.container{
		width: 545px;
	}
	.photo {
        width: 250px
    }
    .myselff {
       width: 45%;
    }
    .skill-first-row {
       margin-top: 2px;
    }
    .score-one,
     .score-two,
     .score-three,
     .score-four{
    margin-top: 5px;
    }
    .skill-second-row {
       padding-top: 100px;
     }
	.edu-content .sslc{
		float: left;
		margin: auto;
		margin-bottom: 20px;
		margin-left: 40px;
		
	}
	.edu-content .hsc{
		margin-left: 40px;
		margin-bottom: 20px;
	}
	.edu-content .ug{
		margin-left: 40px;
	}
	.map-head {
    margin-top: 4px;
    padding-bottom: 2px;
    }
	.contact-form {
    width: 475px;
    margin-bottom: 50px;
   }
   .address {
    width: 372px;
    text-align: center;
    padding: 44px;
   }
}

@media(min-width:768px){
	.container{
		width: 720px;
	}
	.photo {
      width: 50%;
    }
	.myselff {
    width: 45%;
    }
    .skill-first-row{
    margin-top: 2px;
    }
    .score-one,
    .score-two,
    .score-three,
    .score-four{
    margin-top: 15px;
    }
    .skill-second-row {
    padding-top: 100px;
   }
   .sslc,
   .hsc,
   .ug{
    margin-bottom: 20px;
   }
   .map-head {
    margin-top: 10px;
    padding-bottom: 5px;
    }

  .contact-form {
    width: 300px;
   }
  .address {
    width: 236px;
  }
  .footer {
    margin-top: 77px;
  }
}

@media(min-width:992px){
	.container{
		width: 850px;
	}
	.photo {
    width: 40%;
   }
   .myselff {
    width: 450px;
  }
   .sslc {
    margin-left: 25px;
    }
    .hsc {
    margin-left: 15%;
   }
   .ug {
    margin-left: 30%;
  }
 form.contact-form {
    width: 54%;
   }
}

@media(min-width:1200px){
	.container{
		width: 1170px;
	}
	.photo{
		width: 50%;
	}
	.myselff {
    width: 50%;
    }
    #myskill {
    height: 100vh;
   }
   .sslc{
     margin-right: 5px;
   }
   .hsc {
    margin-left: 5%;
   }
   .ug {
    margin-left: 5%;
  }
  form.contact-form {
    width: 60%;
  }
  .footer {
    margin-top: 0px;
  }
}
