.clear{
	clear: both;
}
.container{
	width: 100%;
	margin: 0 auto;
}
header{
	transition: all 0.4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1;
}
.logo{
	float: right;
	max-width: 100%;
}
.logo img{
	width: 70px;
    height: 100px;
}
.navi{
	right: 0px;
	width: 200px;
	height: 100%;
	position: absolute;
	
	left: -200px;
}
.navi.active{
	left: 0px;
	transition: 0.2s;
}
.navi ul li{
	margin-top: 40px;
	margin-bottom: 20px;
	text-decoration: none;
}
.navi ul li a{
	text-decoration: none;
	color: #fff;
	padding-left: 50px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;

}
.navi .toggle-btn{
	position: absolute;
	left: 250px;
	top:30px;
}

.navi .toggle-btn span{
	display: block;
	width: 30px;
	height: 5px;
	background: #fff;
	margin: 5px 0px;
}
.background-clip{
	background-image: url('../image/arviii.jpg');
	height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   clip-path: polygon(72% 0, 100% 0, 100% 88%, 28% 100%, 0 88%, 0 0);
   margin-bottom: 100px;
}
.overlay{
	content: '';
    background: -webkit-linear-gradient(-45deg, #de3653 0%, #bd3175 24%, #6a24cc 78%, #4e1fe9 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}
.intro {
	margin-top: 300px;
	width: 40%;
}
.intro h1{
	font-size: 56px;
    line-height: 66px;
    color: #fff;
}
.intro h2{
	font-size: 50px;
    width: 523px;
    margin: 20px 0px;
    color:#d1d1d1;
}
.social-link ul li{
	display: inline-flex;
	text-decoration: none;
}
.social-link a{
	text-decoration: none;
	padding-top:5px;
	color: #fff;
	font-size: 20px;
	text-indent:10px; 
}
.social-link a:hover{
    color: yellow;
}
.about{
	width: 100%;
	margin-bottom: 100px;
}
.photo{
	float: left;
	width: 50%;
}
.photo img{
	width: 500px;
	max-width: 100%;
}
.myselff{
	float: right;
	width: 50%;
}
.myselff h1{
	font-size: 42px;
	line-height: 36px;
	font-weight: 400;
	font-family: monospace;
}
.myselff span,
.skills-head span,
.edu-head span,
.map-head span{
	display: block;
	width: 70px;
	height: 5px;
	background-color:#3e0048cc;
	margin: 20px 0px;
}
.myselff h3{
	font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #000000;
    margin-bottom: 16px;
}
.resume {
    position: relative;
    border-radius: 10px;
    padding: 29px 122px 11px 53px;
    background: #9c26b0;
    margin-top: 60px;
    height: 18px;
    width: 1px;
}
.resume a{
	position: absolute;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    top: 21px;
    left: 30px;
    text-decoration: none;
}
.skill-clip{
	background-image: url('../image/skills-bg.jpg');
	position: relative;
	height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     clip-path: polygon(72% 0, 100% 0, 100% 88%, 28% 100%, 0 88%, 0 0);
   margin-bottom: 100px;
}
.skills-head h1{
	padding-top: 20px;
	color: #fff;
	font-size: 40px;
	font-weight: 1000;

}
.skill-first-row {
	margin-top: 40px;
	font-family: 'Montserrat', sans-serif;
}
.skill-second-row{
	padding-top: 150px;
	font-family: 'Montserrat', sans-serif;
}
.skill-first-row .skill-one{
   float: left;
   width: 50%;
  
}
.skill-first-row .skill-two{
   float: right;
   width: 50%;
   font-family: 'Montserrat', sans-serif
   
}
.skill-second-row .skill-three{
  float: left;
   width: 50%;
   
}
.skill-second-row .skill-four{
  float: right;
    width: 50%;
} 
.skill-first-row .skill-one,
.skill-first-row .skill-two,
.skill-second-row .skill-three,
.skill-second-row .skill-four{
	font-size: 20px;
    line-height: 22px;
    color: #fff;
    font-weight: 700;
}

.score-one,
.score-two,
.score-three,
.score-four{
	width: 90%;
    background-color: #ffffff1c;
    height: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.my-score-one{
	width: 80%;
	background-color:#ffffff; 	
	height: 20px;
	border-radius: 10px;
	text-align: center;
	color: black;
}
.my-score-two{
   width: 70%;
	background-color:#ffffff; 	
	height: 20px;
	border-radius: 10px;
	text-align: center;
	color: black;
}
.my-score-three{
   width: 60%;
	background-color:#ffffff; 	
	height: 20px;
	border-radius: 10px;
	text-align: center;
	color: black;
}
.my-score-four{
   width: 40%;
	background-color:#ffffff; 	
	height: 20px;
	border-radius: 10px;
	text-align: center;
	color:#000;
}
.education{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 200px;
}
.edu-head{
	margin-bottom: 50px;
}
.edu-head h1{
	font-size: 40px;
    line-height: 36px;
    color: #444444;
    font-weight: 400;
    position: relative; 
    letter-spacing: 2px;	
}
.edu-content{
	widows: 100%;
}
 .sslc{
	float: left;
	widows: 30%;
	outline: 4px solid #bfbfbf;
    outline-offset: -4px;
    padding: 30px;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    
}
.hsc{
	float: left;
	widows: 30%;
	outline: 4px solid #bfbfbf;
    outline-offset: -4px;
    padding: 30px;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    margin-left:75px;
    

}
.ug{
	float: left;
	widows: 30%;
	outline: 4px solid #bfbfbf;
    outline-offset: -4px;
    padding: 30px;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    margin-left:75px;
}
.sslc img{
	width: 100px;
    padding-bottom: 20px;
}
.hsc img{
	width: 100px;
    padding-bottom: 20px;
}
.ug img{
	width: 100px;
    padding-bottom: 20px;
}
.sslc h2,
.hsc h2,
.ug h2{
	color: #000;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 15px;
    position: relative;
    font-weight: 700;
}
.sslc span,
.hsc span,
.ug span{
    display: block;
    height: 4px;
    width: 100px;
    background: #bfbfbf;
    position: absolute;
    top: 200px;
    left: 35%;
}
.sslc h3,
.hsc h3,
.ug h3 {
  color: #000;
    font-weight: 550;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}
.sslc h4,
.hsc h4,
.ug h4{
color: #000;
    font-weight: 550;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 10px;	
}
.sslc h6,
.hsc h6,
.ug h6{
  font-size: 24px;
    font-weight: bold;
    color: #000;
}
.counter-clip{
	background-image: url('../image/counter-bg.jpg');
	position: relative;
	height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    clip-path: polygon(72% 0, 100% 12%, 100% 88%, 28% 100%, 0 88%, 0 12%);
    margin-bottom: 150px;

}
.counter-clip .counter-row{
	padding-top: 75px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}
.counter-row .counter-one,
.counter-row .counter-two,
.counter-row .counter-three,
.counter-row .counter-four{
	float: left;
	width:25%;
	text-align: center;
    color: #ffffff;
    margin: 50px 0px;
}
.counter-one  p,
.counter-two  p,
.counter-three  p,
.counter-four  p{
	font-size: 100px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.counter-one  h1,
.counter-two  h1,
.counter-three  h1,
.counter-four h1{
    font-size: 50px;
    line-height: 46px;
    font-weight: 500;
    color: #fff;
}
.counter-one h2,
.counter-two h2,
.counter-three h2,
.counter-four h2{
	font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 10px;
}
.portfolio-content h1{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
    line-height: 36px;
    color: #444444;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
}
.portfolio-content span{

	display: block;
	width: 70px;
	height: 5px;
	background-color:#3e0048cc;
	margin:10px 0px;
}
.portfolio-image{
	margin-bottom: 100px;
}
.portfolio-image img{
      width: 25%;
      height: 250px;
      margin-left: 150px;
      margin-top: 50px;
     border-radius: 10px;
     box-shadow:5px 5px 4px #000;
}
.portfolio-image img:hover{
	opacity: 0.7;
}

.map{
	background-image: url('../image/kurumbai.png');
	height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.map-head{
	font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 100px;
    margin-top: 100px;
}
.contact-form{
	background-color: #fff;
	padding: 30px;
	width: 50%;
	float: left;

}
.name,
.mail,
.area{
	color: #333;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border: 1px solid #d8d8d8;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
}
.area{
	width: 90%;
}
.btn{
  text-align: center;
}
.sub{
	background-color: #9c26b0;
    color: #fff;
    padding: 10px 50px;
    border: none;
    font-size: 16px;
    line-height: 32px;
}
.address{
	background-color: #fff;
	padding: 30px;
	width: 30%;
	float: left;
	height: 230px;
	margin-left: 30px;
}
.address h1{
	margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
}
.address p,
.address h2,
.address h3{
	margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 10px;
    color: #000;
    font-weight: 700;
}
.address h2,
.address h3{
	margin-bottom:3px;
}
.footer{
    position: relative;
    background-color: #000;
}

.icon{
	text-align: center;
}
.icon ul li{
	display: inline-flex;
	text-decoration: none;
}
.icon a{
	text-decoration: none;
	padding-top: 20px;
	color: #fff;
	text-indent: 10px;
}
.icon a:hover{
	color:yellow;
}
.footer-text {
	color: #b9b9b9;
	text-align: center;
	padding-top: 20px;	
	font-size: 17px;
	line-height: 20px;
	 font-family: 'Montserrat', sans-serif;
}
.footer-text a{
	color: #fff;
	text-decoration: none;
}